# 백엔드 API URL
# 로컬 개발: http://localhost:8000
# Railway 배포 후: https://your-backend.railway.app
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_OURS_URL=https://ours.mallog24.com
NEXT_PUBLIC_BUSINESS_NAME=OURS
NEXT_PUBLIC_BUSINESS_REG_NUMBER=696-08-03518
NEXT_PUBLIC_LANDLINE_PHONE=010-4798-3619
NEXT_PUBLIC_REPRESENTATIVE_NAME=김현우
NEXT_PUBLIC_BUSINESS_ADDRESS=12735, 경기도 광주시 초월읍 무들로 28
NEXT_PUBLIC_ECOMMERCE_REG_NUMBER=제 2026-경기광주-0442 호
NEXT_PUBLIC_SUPPORT_EMAIL=ours113814@gmail.com
